In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:


URL = "https://web.archive.org/web/20200518073855/https://www.empireonline.com/movies/features/best-movies-2/"

In [6]:
response = requests.get(URL)
website_html = response.text

In [7]:
soup = BeautifulSoup(website_html, "html.parser")

In [11]:

all_movies = soup.find_all(name="h3", class_="title")

In [16]:
all_movies[0]

In [18]:

movie_titles = [movie.getText() for movie in all_movies]

In [26]:
nums = [x.split(' ')[0].strip() for x in movie_titles]

In [27]:
films = [','.join(x.split(' ')[1:]).strip() for x in movie_titles]

In [28]:
import pandas as pd
df = pd.DataFrame({'rating':nums, 'film':films})

   rating                      film
0    100)               Stand,By,Me
1     99)               Raging,Bull
2     98)                    Amelie
3     97)                   Titanic
4     96)         Good,Will,Hunting
..    ...                       ...
95     5)              Pulp,Fiction
96     4)  The,Shawshank,Redemption
97     3)           The,Dark,Knight
98     2)   The,Empire,Strikes,Back
99     1)             The,Godfather

[100 rows x 2 columns]

In [ ]:
movies = movie_titles[::-1]

with open("movies.txt", mode="w") as file:
    for movie in movies:
        file.write(f"{movie}\n")